<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title> hAdmin- 主页</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/HADMIN/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/HADMIN/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/HADMIN/css/animate.css" rel="stylesheet">
    <link href="/HADMIN/css/style.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-area-chart"></i>
                                        <strong class="font-bold">幂缘</strong>
                                    </span>
                                </span>
                        </a>
                    </div>
                    <div class="logo-element">幂缘
                    </div>
                </li>
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span class="ng-scope">平台管理</span>
                </li>
                <li>
                    <a class="J_menuItem" href="/admin/main">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">首页</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-gear"></i>
                        <span class="nav-label">平台配置</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="/admin/platConf">轮播图管理</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="/admin/platConfText">公告管理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa fa-reorder"></i>
                        <span class="nav-label">信息管理</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="/admin/userList">用户管理</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="/admin/chargeMoney">收款记录</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="/admin/drawMoney">打款申请</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="/admin/drawMoneyHistory">打款记录</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="/admin/userScoreList">评分记录</a>
                        </li>
<li>
                            <a class="J_menuItem" href="/admin/sendMoneyList">奖励发放记录</a>
                        </li>

                    </ul>
                </li>
                <li class="line dk"></li>
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span class="ng-scope">推广中心</span>
                </li>
                <li>
                    <a class="J_menuItem" href="/admin/pointGoldList">
                        <i class="fa fa-bullhorn"></i> <span class="nav-label">幂猜 </span>
                    </a>
                    <a class="J_menuItem" href="/admin/loveList">
                        <i class="fa fa-bullhorn"></i> <span class="nav-label">寻缘 </span>
                    </a>
                    <a class="J_menuItem" href="/admin/missionList">
                        <i class="fa fa-bullhorn"></i> <span class="nav-label">悬赏 </span>
                    </a>
                    <a class="J_menuItem" href="/admin/shackList">
                        <i class="fa fa-bullhorn"></i> <span class="nav-label">幂文 </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#"><i
                                class="fa fa-bars"></i> </a>

                </div>

            </nav>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe id="J_iframe" width="100%" height="100%" src="/admin/main" frameborder="0"
                    data-id="index_v1.html" seamless></iframe>
        </div>
    </div>
    <!--右侧部分结束-->
</div>

<!-- 全局js -->
<script src="/HADMIN/js/jquery.min.js?v=2.1.4"></script>
<script src="/HADMIN/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/HADMIN/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/HADMIN/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/HADMIN/js/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="/HADMIN/js/hAdmin.js?v=4.1.0"></script>
<script type="text/javascript" src="/HADMIN/js/index.js"></script>

<!-- 第三方插件 -->
<script src="/HADMIN/js/plugins/pace/pace.min.js"></script>

</body>

</html>
